
.dipper {
	opacity:0;
}

.js-dipper-animate {
		-webkit-animation: dipper-fade 1s linear 1 forwards;

}


@-webkit-keyframes dipper-fade {
	0% {
		opacity:0;
	}
	
	100% {
		opacity:1;
	}
}
	
	
	
	
article {
	margin:1em;
}

/*paragraph */

.background {
	background-color: rgba(255,255,255,0.4);
	width:100%;
	margin-left:-2em;
	padding-left:2em;
	padding-right:2em;
	box-shadow: -2px 4px 2px 0px gray;
	padding-bottom:1em;
}

.textover { 
	width:90%;
}

/*green overlay */

.image-holder {
    display:inline-block;
    position: relative;
	width:100%;
	margin-left:-2em;
	padding-left:2em;
	padding-right:2em;
	}

.image-holder:after {
    content:'';
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: #165D61;
    opacity: 0.9;
}
.image-holder:hover:after {
    opacity: 0.7;
} 



h2 {
	padding-top:.3em;
	margin:0;
	font-size:22px;
	font-family: 'Alef', sans-serif;
}

h3 {
	margin:0;
	font-size:20px;
	font-family: 'Alef', sans-serif;
}

.logo {
	max-height:3em;
	padding-bottom:0;
}

.beside {
	display:inline;
}

h4 {
	color:#fff;
	font-size:30px;
	top:20%;
	margin:0;
	text-align:center;
	font-family: 'Alef', sans-serif;
}

a:link, a:visited {
	text-decoration:none;
}

button {
	border-radius:4px;
	border:1px;
	color:#fff;
	background-color:#165D61;
	padding:.5em 1em;
	font-size:10px;
}

.flex-img {
	width:100%;
}

.bringtop {
		position:relative;
		margin-top:50px;
		z-index:2000;
}



.carousel {
	position:relative;
	padding-bottom:70%;
}

.carousel-buttons {
	position:absolute;
	z-index:1000;
	bottom:0;
	right:20%;
}

.carousel img {
	position:absolute;
	left: 0;
	top: 0;
	width:100%;
}

.carousel [data-state="current"] {
	z-index: 100;
}

.carousel [data-state="incoming"] {
	z-index: 101;
}



html { /*footer*/
    position: relative;
    min-height: 100%;
	width:100%;
}

body {
    margin: 0 0 100px; /* bottom = footer height */
	background-color:#CECECE;
}

p {
	margin:0;
}

footer p {
	text-align:center;
	color:white;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 93%;
	padding:1em;
	background-color:#333;
}


	#buy-now {
		display:block;
		margin-top:1em;
	}

	

@media only screen and (min-width:19em){

	.title {
		margin-top:-6em;
		position:relative;
		z-index:2000;
	}
	
	.pulse_rays {
	margin-top:-2em;
	}
	
	article {
		margin:2em;
	}
	
	h2 {
		font-size:28px;
	}
	
	
	p {
		font-size:18px;
	}

	#buy-now {
		float:right;	
	}


}

@media only screen and (min-width:22em){
	h3 {
		font-size:25px;
	}
	
	button {
	font-size:13px;
	}
}

	

@media only screen and (min-width:35em) {
	
	
	button {
	font-size:15px;
	}

	
	h2 {
		font-size:33px;
	}

	h3 {
		font-size:35px;
	}
	
	.logo {
		max-height:4em;
	}
	
	.textover {
		margin:0;
	}



@media only screen and (min-width: 60em) {
	
	h2 {
		font-size:45px;
	}
	
	h3 {
		font-size:50px;
	}

	.logo {
		max-height:6em;
	}
}








@-webkit-keyframes pulse{       
   
    80% {-webkit-transform: scale(0.8);}
    100% {-webkit-transform: scale(1);}
 }

 @-moz-keyframes pulse {       
   
	80% {-moz-transform: scale(0.8);}
	100% {-moz-transform: scale(1);}
}
  
.pulse_rays {
    -webkit-animation: pulse 1.5s linear infinite;
    -moz-animation: pulse 1.5s linear infinite; 
  }


