
article {
	margin:2em;
}




h2 {
	padding-top:1.3em;
	margin:0;
	font-size:28px;
	font-family: 'Alef', sans-serif;
}

h3 {
	margin:0;
	font-size:14px;
}


.logo {
	max-height:3em;
	padding:2em;
	padding-bottom:0;
}

.beside {
	display:inline;
}

#buy-now {
	right:0;
}

button {
	border-radius:4px;
	border:1px;
	color:#fff;
	background-color:#165D61;
	padding:.5em 1em;
	font-size:10px;
}

.flex-img {
	width:100%;
}


.carousel {
	position:relative;
	padding-bottom:70%;
}


.carousel-buttons {
	position:absolute;
	z-index:1000;
	bottom:0;
	right:20%;
}

.carousel img {
	position:absolute;
	left: 0;
	top: 0;
	width:100%;
}

.carousel [data-state="current"] {
	z-index: 100;
}

.carousel [data-state="incoming"] {
	z-index: 101;
}


html { /*footer*/
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px; /* bottom = footer height */
	background-color:#CECECE;
}

footer p {
	text-align:center;
	color:white;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
	background-color:#165D61;
	padding:1em;
}



@media only screen and (min-width:38em) {
	
	button {
	border-radius:4px;
	border:1px;
	color:#fff;
	background-color:#165D61;
	padding:.5em 1em;
	font-size:15px;
	}

	
	h2 {
		font-size:33px;
		margin-top:.3em;
	}

	h3 {
		font-size:14px;
	}
	
	.logo {
		max-height:4em;
	}
}


@media only screen and (min-width: 60em) {
	
	h2 {
		font-size:45px;
	}
	
	h3 {
		font-size:22px;
	}
	
	.logo {
		max-height:6em;
	}
}